#!/usr/bin/env bash

{{ ansible_managed | comment }}

# set -e -o pipefail -o errexit -o errtrace

# Source extra vars
source {{ current_backup_path }}/extra_vars

# Source helper functions
source {{ backup_restic_path }}/scripts/utils.sh

# Hostname
export HOSTNAME="{{ backup_restic_hostname }}"

# Backup name
export BACKUP_NAME="{{ current_backup.name }}"

# Retry settings
{% if is_prune_host | d(false) %}
MAX_ATTEMPTS="${MAX_ATTEMPTS:-{{ current_backup.prune_max_attempts | d(backup_restic_default_prune_max_attempts) }}}"
RETRY_INTERVAL="${RETRY_INTERVAL:-{{ current_backup.prune_retry_interval | d(backup_restic_default_prune_retry_interval) }}}"

# Alerting settings
CRI_DISABLE_ALERTING="${CRI_DISABLE_ALERTING:-{% if not (true in (current_backup.prune_alerting | d({}) | json_query('*.enabled'))) and not backup_restic_prune_alerting %}y{% endif %}}"
CRI_DISABLE_ALERTING_ON_SUCCESS="${CRI_DISABLE_ALERTING_ON_SUCCESS:-{% if not (current_backup.prune_alerting_on_success | d(backup_restic_prune_alerting_on_success) | bool) %}y{% endif %}}"
{% if current_backup.prune_alerting.mail.enabled | d(backup_restic_prune_alerting_mail_default) | bool %}
## Mail
export CRI_ALERTING_MAIL="${CRI_ALERTING_MAIL:-y}"
export CRI_ALERTING_MAIL_DEST="${CRI_ALERTING_MAIL_DEST:-{{ current_backup.prune_alerting.mail.dest | d(backup_restic_prune_alerting_mail_default_dest) }}}"

{% endif %}
{% if current_backup.prune_alerting.slack.enabled | d(backup_restic_prune_alerting_slack_default) | bool %}
## Slack
export CRI_ALERTING_SLACK="${CRI_ALERTING_SLACK:-y}"
export CRI_ALERTING_SLACK_CHANNEL="${CRI_ALERTING_SLACK_CHANNEL:-{{ current_backup.prune_alerting.slack.channel | d(backup_restic_prune_alerting_slack_default_channel) }}}"
export CRI_ALERTING_SLACK_WEBHOOK_URL="${CRI_ALERTING_SLACK_WEBHOOK_URL:-{{ current_backup.prune_alerting.slack.webhook_url | d(backup_restic_prune_alerting_slack_default_webhook_url) }}}"

{% endif %}
{% else %}
MAX_ATTEMPTS="${MAX_ATTEMPTS:-{{ current_backup.max_attempts | d(backup_restic_default_max_attempts) }}}"
RETRY_INTERVAL="${RETRY_INTERVAL:-{{ current_backup.retry_interval | d(backup_restic_default_retry_interval) }}}"

# Alerting settings
CRI_DISABLE_ALERTING="${CRI_DISABLE_ALERTING:-{% if not (true in (current_backup.alerting | d({}) | json_query('*.enabled'))) and not backup_restic_alerting %}y{% endif %}}"
CRI_DISABLE_ALERTING_ON_SUCCESS="${CRI_DISABLE_ALERTING_ON_SUCCESS:-{% if not (current_backup.alerting_on_success | d(backup_restic_alerting_on_success) | bool) %}y{% endif %}}"
{% if current_backup.alerting.mail.enabled | d(backup_restic_alerting_mail_default) | bool %}
## Mail
export CRI_ALERTING_MAIL="${CRI_ALERTING_MAIL:-y}"
export CRI_ALERTING_MAIL_DEST="${CRI_ALERTING_MAIL_DEST:-{{ current_backup.alerting.mail.dest | d(backup_restic_alerting_mail_default_dest) }}}"

{% endif %}
{% if current_backup.alerting.slack.enabled | d(backup_restic_alerting_slack_default) | bool %}
## Slack
export CRI_ALERTING_SLACK="${CRI_ALERTING_SLACK:-y}"
export CRI_ALERTING_SLACK_CHANNEL="${CRI_ALERTING_SLACK_CHANNEL:-{{ current_backup.alerting.slack.channel | d(backup_restic_alerting_slack_default_channel) }}}"
export CRI_ALERTING_SLACK_WEBHOOK_URL="${CRI_ALERTING_SLACK_WEBHOOK_URL:-{{ current_backup.alerting.slack.webhook_url | d(backup_restic_alerting_slack_default_webhook_url) }}}"

{% endif %}
{% endif %}

# Functions
retry_output_wrapper()
{
    local restic_rc
    if [[ -n "${ATTEMPT}" && -n "${MAX_ATTEMPTS}" ]]; then
        local cmd_attempt_info="echoInfo"
        if [ "${ATTEMPT}" -gt 1 ]; then
            cmd_attempt_info="echoWarn"
        fi
        ${cmd_attempt_info} "Attempt [${ATTEMPT}/${MAX_ATTEMPTS}].."
    fi

    {{ current_backup_path }}/{{ current_backup.name }}.sh "$@"

    # Get return code
    restic_rc="$?"

    if [ "${restic_rc}" -ne "0" ]; then
        echoErr "rc: ${restic_rc}"
    fi

    return "${restic_rc}"
}

alerting_wrapper()
{
    # Simple wrapper that duplicated output if needed

    local cmd_rc

    local start_epoch="0"
    local end_epoch="0"

    # We only want so send an alert for cri_functions
    if [[ ! "${CRI_DISABLE_ALERTING}" =~ ^(y|Y) && "${1}" =~ cri_* ]]; then

        start_epoch="$(date +%s)"

        # Current special cri_function
        cri_operation="${1}"

        # Create temp file to save restic output
        local cmd_output_file
        cmd_output_file="$(mktemp /tmp/restic_output_XXXXXXXXXX.log)"

        # Exec with tee wrapper to duplicate output
        retry_output_wrapper "$@" > >(tee -a "${cmd_output_file}") 2>&1
        cmd_rc="$?"

        end_epoch="$(date +%s)"

        if [[ -n "${cmd_output_file}" && -f "${cmd_output_file}" ]]; then
            # Send an alert
            if ! {{ backup_restic_path }}/scripts/cri_alerting.sh \
                -r "${cmd_rc}" \
                -t "${cri_operation}" \
                -l "${cmd_output_file}" \
                -s "${start_epoch}" \
                -e "${end_epoch}" ; then
                echoErr "Alerting failed for ${cri_operation}"
            fi

            # Clean tmp log file
            rm -rf "${cmd_output_file}"
        else
            if ! {{ backup_restic_path }}/scripts/cri_alerting.sh \
                -r "${cmd_rc}" \
                -t "${cri_operation}" \
                -s "${start_epoch}" \
                -e "${end_epoch}" ; then
                echoErr "Alerting failed for ${cri_operation}"
            fi
        fi
    else
        retry_output_wrapper "$@"
        cmd_rc="$?"
    fi
    return "${cmd_rc}"
}

main()
{
    dynamic_retry_interval="${RETRY_INTERVAL}"

    for ATTEMPT in $(seq 1 "$MAX_ATTEMPTS"); do
        # We only want to sleep after the first fail
        if [ "${ATTEMPT}" -gt 1 ]; then
            echoInfo "Next attempt (${ATTEMPT}/${MAX_ATTEMPTS}) in ${dynamic_retry_interval}s.."
            sleep "${dynamic_retry_interval}"
            dynamic_retry_interval="$(( ATTEMPT * RETRY_INTERVAL ))"
        fi

        # Call the target script
        alerting_wrapper "$@" && rc="$?" && break || rc="$?"
    done

    if [ "${ATTEMPT}" -ge "${MAX_ATTEMPTS}" ]; then
      echoErr "Failed after ${MAX_ATTEMPTS} attempts!"
      exit 1
    fi

    # Return with the last useful exit code
    return "${rc}"
}

[[ "$0" == "${BASH_SOURCE[0]}" ]] && main "$@"
